:root {
  --logo-size: 128px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
button {
  color: inherit;
}
button,
[role="button"] {
  cursor: pointer;
}
img,
svg {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}
.full-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-gradient {
  background-color: rgb(254, 243, 199);
  background-image: linear-gradient(
    to bottom,
    rgb(255, 251, 235),
    rgb(254, 243, 199),
    rgb(253, 224, 171)
  );
}

.avatar-circle {
  background: #fff;
  border-radius: 50%;
  width: calc(var(--logo-size) * 1.125);
  height: calc(var(--logo-size) * 1.125);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

  img {
    width: var(--logo-size);
    height: var(--logo-size);
    border-radius: 50%;
    object-fit: cover;
    transform: scale(1.25);
  }
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto 0 auto;
  width: 56px;
  height: 56px;
  text-align: center;
  text-decoration: none;
  color: #7c5a3a;
  font-size: 2rem;
  transition: color 0.2s;

  &:hover {
    color: #b97a2a;
  }
}
